<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKS</title>
    <link rel="stylesheet" href="global.css" />
</head>
<body>
    
    <h1 id = "bookpageh1">BOOK PAGE</h1>
    <div class = "bookpage">
        <% books.forEach(book => { %>
            <div class="book">
                <h2><%= book.name %></h2>
                <img src="<%= book.image %>" >
                <p><%= book.author %></p>
                <p><%= book.year %> </p>
                <p><%= book.price %> $</p>
            </div>
        <% }); %>
        

    </div>

    <div class="footer">

    <%- include('partials/footer') %>

    </div>

    
</body>
</html>